.toobar__section {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .toobar__section__item {
    box-shadow: 0 8px 16px 0 #00000009;
    transition: background-color 0.2s;

    &.first__item {
      border-radius: 8px 0 0 8px;
    }

    &.last__item {
      border-radius: 0 8px 8px 0;
    }
  }
}
