@import '../../../../styles/mixins.scss';

.text-area {
  width: 100%;
  height: 100%;

  &.disable {
    pointer-events: none;
    opacity: 0.5;

    & > p {
      color: #cbcbcb !important;
    }
  }

  textarea {
    outline: none;
    position: relative;
    font-size: 16px;
    line-height: 26px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-family: var(--font-inter);
    color: var(--color-black-900);
    resize: none; 
    padding-left: var(--padding-left-text-area, 0px);
    padding-top: var(--padding-top-text-area, 0px);

    &::placeholder {
      color: var(--color-black-400) !important;
      font-size: 14px;
      color: #121212;
    }

    @include xs {
      font-size: 14px;
      line-height: 22px;
    }

    @include sm {
      font-size: 14px;
      line-height: 22px;
    }

    &.contained {
      border-radius: 6px;
      border: 1px solid var(--border-text-area, var(--color-black-300));

      --padding-left-text-area: 10px;
      --padding-top-text-area: 8px;
    }

    &.line {
      border: none;
      border-bottom: 1px solid var(--border-text-area, var(--color-black-300));
    }

    &:focus {
      --border-text-area: var(--color-black-900) !important;
    }

    &.error {
      --border-text-area: #dc3545;
    }
  }
}
