@import '../../../../styles/mixins.scss';

.tag {
  padding: var(--spacing-12) var(--spacing-16);
  width: max-content;
  min-width: 204px;
  text-align: center;
  transition: background-color 0.3s ease;

  &.color {
    &__dark {
      background-color: var(--color-black-900);

      --color-content-tag: var(--color-white);
    }

    &__light {
      background-color: var(--color-white-900);

      --color-content-tag: var(--color-black-900);
    }

    &__success {
      background-color: #20c997;

      --color-content-tag: var(--color-white);
    }

    &__warning {
      background-color: #ffcb2f;

      --color-content-tag: var(--color-black-900);
    }

    &__danger {
      background-color: #dc3545;

      --color-content-tag: var(--color-white);
    }

    &__info {
      background-color: #0baaca;

      --color-content-tag: var(--color-white);
    }

    &__gray {
      background-color: var(--color-black-200);

      --color-content-tag: var(--color-black-900);
    }

    &__gray-500 {
      background-color: var(--color-black-500);

      --color-content-tag: var(--color-white);
    }

    &__gray-100 {
      background-color: #9d9ca3;

      --color-content-tag: #ffffff;
    }
  }

  &.rounded {
    border-radius: 12px 12px 12px 12px / 50% 50% 50% 50%; 
  }

  &.pill {
    border-radius: var(--spacing-50);
  }

  &.status {
    padding: 0 12px;
    min-width: max-content;
    border: 1px solid var(--color-black-200);
    border-radius: 20px;

    &.color {
      &__success {
        background-color: #c7ecee;
  
        --color-content-tag: #130f40;
      }
  
      &__warning {
        background-color: #f6e58d;
  
        --color-content-tag: #f0932b;
      }
  
      &__info {
        background-color: #dff9fb;
  
        --color-content-tag: #22a6b3;
      }
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: var(--spacing-20);
    line-height: var(--spacing-28);
    color: var(--color-content-tag);
    max-width: 160px;

    & > p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: clip;
    }
    
  }
}

@include xs {
  .tag {
    padding: var(--spacing-8) var(--spacing-12);
    min-width: 132px;

    .content {
      font-size: var(--spacing-16);
      line-height: var(--spacing-30);
      max-width: 132px;
    }
  }
}

@include sm {
  .tag {
    padding: var(--spacing-10) var(--spacing-14);
    min-width: 158px;

    .content {
      font-size: var(--spacing-18);
      line-height: var(--spacing-32);
      max-width: 132px;
    }
  }
}
