@import '../../../../styles/mixins';

.pagination__number__item {
  width: var(--spacing-46);
  height: var(--spacing-46);
  background-color: transparent;
  transition: background-color 0.1s ease-in-out;
  color: var(--color-black-600);

  &.hover__item {
    &:hover {
      background-color: var(--color-black-50);
      cursor: pointer;
    }
  }

  &.active {
    background-color: var(--color-black-200);

    &.color {
      &__dark {
        background-color: var(--color-black-900);
        color: var(--color-white);
      }

      &__light {
        background-color: var(--color-white-900);
        color: var(--color-black-900);
      }

      &__success {
        background-color: #20c997;
        color: var(--color-white);
      }

      &__warning {
        background-color: #ffcb2f;
        color: var(--color-black-900);
      }

      &__danger {
        background-color: #dc3545;
        color: var(--color-white);
      }

      &__info {
        background-color: #0baaca;
        color: var(--color-white);
      }
    }

    &.outline {
      background-color: transparent;
      border-width: 1px;
      border-style: solid;

      &__dark {
        border-color: var(--color-black-900);
        color: var(--color-black-900);
      }

      &__light {
        border-color: var(--color-white-900);
        color: var(--color-white-900);
      }

      &__success {
        border-color: #20c997;
        color: #20c997;
      }

      &__warning {
        border-color: #ffcb2f;
        color: #ffcb2f;
      }

      &__danger {
        border-color: #dc3545;
        color: #dc3545;
      }

      &__info {
        border-color: #0baaca;
        color: #0baaca;
      }
    }
  }

  &.roundness {
    &__rounded {
      border-radius: var(--spacing-6);
    }

    &__circle {
      border-radius: 50%;
    }
  }
}

@include xs {
  .pagination__number__item {
    width: var(--spacing-28);
    height: var(--spacing-28);
  }
}

@include sm {
  .pagination__number__item {
    width: var(--spacing-32);
    height: var(--spacing-32);
  }
}
