.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  gap: 5px;
  overflow: hidden;
  width: max-content;

  &.color {
    &--dark {
      background-color: var(--color-black-900);
      color: var(--color-white);
    }

    &--light {
      background-color: var(--color-white-900);
      color: var(--color-black-900);
    }

    &--success {
      background-color: #20c997;
      color: var(--color-white);
    }

    &--warning {
      background-color: #ffcb2f;
      color: var(--color-black-900);
    }

    &--danger {
      background-color: #dc3545;
      color: var(--color-white);
    }

    &--info {
      background-color: #0baaca;
      color: var(--color-white);
    }
  }

  &.badge-shape-circle {
    border-radius: 50%;
    padding: 0;

    &--small {
      width: 45px;
      height: 45px;
    }

    &--medium {
      width: 60px;
      height: 60px;
    }

    &--large {
      width: 65px;
      height: 65px;
    }
  }

  &.badge-size {
    &--small {
      padding: 2px 10px;
    }

    &--medium {
      padding: 4px 14px;
    }

    &--large {
      padding: 4px 16px;
    }
  }

  .badge__text {
    &__size {
      &--small {
        font-size: 12px;
        line-height: 20px;
      }

      &--medium {
        font-size: 14px;
        line-height: 22px;
      }

      &--large {
        font-size: 16px;
        line-height: 26px;
      }
    }
  }

  &.badge-icon {
    &--small {
      width: 12px;
      height: 12px;
    }

    &--medium {
      width: 16px;
      height: 16px;
    }

    &--large {
      width: 18px;
      height: 18px;
    }
  }

  &.badge__outline {
    background-color: transparent;
    outline: 1px solid var(--color-badge-outline);
    color: var(--color-badge-outline);

    &.color {
      &--dark {
        --color-badge-outline: var(--color-black-900);
      }

      &--light {
        --color-badge-outline: var(--color-white-900);
      }

      &--success {
        --color-badge-outline: #20c997;
      }

      &--warning {
        --color-badge-outline: #ffcb2f;
      }

      &--danger {
        --color-badge-outline: #dc3545;
      }

      &--info {
        --color-badge-outline: #0baaca;
      }
    }
  }

  &.badge-roundness {
    &--pill {
      border-radius: 100px;
    }

    &--rounded {
      border-radius: 4px;
    }
  }
}
