@mixin xs {
  @media (width < 380px) {
    @content;
  }
}

@mixin sm {
  @media (min-width: 380px) and (max-width: 767px) {
    @content;
  }
}

@mixin md {
  @media (width >= 768px) and (width < 1024px) {
    @content;
  }
}

@mixin lg {
  @media (width >= 1024px) and (width < 1280px) {
    @content;
  }
}

@mixin xl {
  @media (width >= 1280px) {
    @content;
  }
}

@mixin light($selector) {
  :global(html) {
    #{$selector} {
      @content;
    }
  }
}

@mixin dark($selector) {
  :global(html.lights-out) {
    #{$selector} {
      @content;
    }
  }
}


@keyframes right-to-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}


@keyframes left-to-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes scale-up {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scale-down {
  0% {
    transform: translateY(-200%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoom-in {
  0% {
    transform: translate(-50%, -50%) scale(0.6);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}