@import 'https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,400..700;1,14..32,400..700&display=swap';
@import './variables';
@import './mixins';

:root {
  --border-none: #{$border-none};
  --color-blue-500: #{$color-blue-500};
  --color-cyan-500: #{$color-cyan-500};
  --color-green-500: #{$color-green-500};
  --color-pink-500: #{$color-pink-500};
  --color-purple-500: #{$color-purple-500};
  --color-red-500: #{$color-red-500};
  --color-tear-500: #{$color-tear-500};
  --color-yellow-500: #{$color-yellow-500};
  --color-white: #{$color-white};
  --color-white-100: #{$color-white-100};
  --color-white-200: #{$color-white-200};
  --color-white-300: #{$color-white-300};
  --color-white-400: #{$color-white-400};
  --color-white-500: #{$color-white-500};
  --color-white-600: #{$color-white-600};
  --color-white-650: #{$color-white-650};
  --color-white-700: #{$color-white-700};
  --color-white-800: #{$color-white-800};
  --color-white-900: #{$color-white-900};
  --color-white-blue: #{$color-white-900};
  --color-black: #{$color-black};
  --color-black-blue: #{$color-black-blue};
  --color-black-50: #{$color-black-50};
  --color-black-100: #{$color-black-100};
  --color-black-200: #{$color-black-200};
  --color-black-300: #{$color-black-300};
  --color-black-400: #{$color-black-400};
  --color-black-500: #{$color-black-500};
  --color-black-600: #{$color-black-600};
  --color-black-700: #{$color-black-700};
  --color-black-650: #{$color-black-650};
  --color-black-800: #{$color-black-800};
  --color-black-900: #{$color-black-900};
  --color-transparent: #{$color-transparent};
  --container-max-width-pc: #{$container-max-width-pc};
  --container-min-width-sp: #{$container-min-width-sp};
  --font-space-grotesk: #{$font-space-grotesk};
  --font-inter: #{$font-inter};
  --font-heading: #{$font-space-grotesk};
  --font-text: #{$font-inter};
  --font-size-base: #{$font-size-base};
  --font-size-small: #{$font-size-small};
  --font-size-extra-small: #{$font-size-extra-small};
  --font-weight-bold: #{$font-weight-bold};
  --font-weight-medium: #{$font-weight-medium};
  --font-weight-regular: #{$font-weight-regular};
  --font-base-size-pc: #{$font-size-base};
  --font-base-size-sp: #{$font-size-small};
  --line-height-base: #{$line-height-base};
  --line-height-heading: #{$line-height-heading};
  --line-height-none: #{$line-height-none};
  --rounded-full: #{$rounded-full};
  --spacing-0: #{$spacing-0};
  --spacing-1: #{$spacing-1};
  --spacing-2: #{$spacing-2};
  --spacing-3: #{$spacing-3};
  --spacing-4: #{$spacing-4};
  --spacing-5: #{$spacing-5};
  --spacing-6: #{$spacing-6};
  --spacing-7: #{$spacing-7};
  --spacing-8: #{$spacing-8};
  --spacing-9: #{$spacing-9};
  --spacing-10: #{$spacing-10};
  --spacing-11: #{$spacing-11};
  --spacing-12: #{$spacing-12};
  --spacing-13: #{$spacing-13};
  --spacing-14: #{$spacing-14};
  --spacing-15: #{$spacing-15};
  --spacing-16: #{$spacing-16};
  --spacing-17: #{$spacing-17};
  --spacing-18: #{$spacing-18};
  --spacing-19: #{$spacing-19};
  --spacing-20: #{$spacing-20};
  --spacing-21: #{$spacing-21};
  --spacing-22: #{$spacing-22};
  --spacing-23: #{$spacing-23};
  --spacing-24: #{$spacing-24};
  --spacing-25: #{$spacing-25};
  --spacing-26: #{$spacing-26};
  --spacing-27: #{$spacing-27};
  --spacing-28: #{$spacing-28};
  --spacing-29: #{$spacing-29};
  --spacing-30: #{$spacing-30};
  --spacing-31: #{$spacing-31};
  --spacing-32: #{$spacing-32};
  --spacing-33: #{$spacing-33};
  --spacing-34: #{$spacing-34};
  --spacing-35: #{$spacing-35};
  --spacing-37: #{$spacing-37};
  --spacing-38: #{$spacing-38};
  --spacing-39: #{$spacing-39};
  --spacing-40: #{$spacing-40};
  --spacing-41: #{$spacing-41};
  --spacing-42: #{$spacing-42};
  --spacing-43: #{$spacing-43};
  --spacing-44: #{$spacing-44};
  --spacing-45: #{$spacing-45};
  --spacing-46: #{$spacing-46};
  --spacing-47: #{$spacing-47};
  --spacing-48: #{$spacing-48};
  --spacing-49: #{$spacing-49};
  --spacing-50: #{$spacing-50};
  --spacing-51: #{$spacing-51};
  --spacing-52: #{$spacing-52};
  --spacing-53: #{$spacing-53};
  --spacing-54: #{$spacing-54};
  --spacing-55: #{$spacing-55};
  --shadow: #{$spacing-0} #{$spacing-8} #{$spacing-16} #{$spacing-0} rgb(0 0 0 / 9%);
  --shadow-md: #{$spacing-0} #{$spacing-12} #{$spacing-16} #{$spacing-0} rgb(0 0 0 / 9%);
  --shadow-lg: #{$spacing-0} #{$spacing-8} #{$spacing-24} #{$spacing-0} rgb(0 0 0 / 9%);
}
