$border-none: 0;
$color-blue-500: #0d6efd;
$color-black-blue: #3e3e59;
$color-black-50: #fafafb;
$color-black-100: #f5f5f5;
$color-black-200: #eaeaea;
$color-black-300: #cbcbcb;
$color-black-400: #a7a7a7;
$color-black-500: #807e7e;
$color-black-600: #605f5f;
$color-black-650: #292c2e;
$color-black-700: #454545;
$color-black-800: #2b2b2b;
$color-black-900: #121212;
$color-dark-gray: #333;
$color-cyan-500: #0dcaf0;
$color-green-500: #198754;
$color-pink-500: #b33674;
$color-purple-500: #6f42c1;
$color-red-500: #dc3545;
$color-tear-500: #20c997;
$color-yellow-500: #ffc107;
$color-white: #fff;
$color-black: #000;
$color-black-opacity-15: rgb(0 0 0 / 15%);
$color-transparent: transparent;
$container-max-width-pc: 1440px;
$container-min-width-sp: 390px;
$font-space-grotesk: 'Space Grotesk', sans-serif;
$font-inter: 'Inter', sans-serif;
$font-size-base: 16px;
$font-size-small: 14px; // 14px
$font-size-extra-small: 12px; // 12px
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;
$line-height-base: 1.5;
$line-height-heading: 1.2;
$line-height-none: 1;
$rounded-full: 9999px;
$spacing-0: 0;
$spacing-1: 1px;
$spacing-2: 2px;
$spacing-3: 3px;
$spacing-4: 4px;
$spacing-5: 5px;
$spacing-6: 6px;
$spacing-7: 7px;
$spacing-8: 8px;
$spacing-9: 9px;
$spacing-10: 10px;
$spacing-11: 11px;
$spacing-12: 12px;
$spacing-13: 13px;
$spacing-14: 14px;
$spacing-15: 15px;
$spacing-16: 16px;
$spacing-17: 17px;
$spacing-18: 18px;
$spacing-19: 19px;
$spacing-20: 20px;
$spacing-21: 21px;
$spacing-22: 22px;
$spacing-23: 23px;
$spacing-24: 24px;
$spacing-25: 25px;
$spacing-26: 26px;
$spacing-27: 27px;
$spacing-28: 28px;
$spacing-29: 29px;
$spacing-30: 30px;
$spacing-31: 31px;
$spacing-32: 32px;
$spacing-33: 33px;
$spacing-34: 34px;
$spacing-35: 35px;
$spacing-36: 36px;
$spacing-37: 37px;
$spacing-38: 38px;
$spacing-39: 39px;
$spacing-40: 40px;
$spacing-41: 41px;
$spacing-42: 42px;
$spacing-43: 43px;
$spacing-44: 44px;
$spacing-45: 45px;
$spacing-46: 46px;
$spacing-47: 47px;
$spacing-48: 48px;
$spacing-49: 49px;
$spacing-50: 50px;
$spacing-51: 51px;
$spacing-52: 52px;
$spacing-53: 53px;
$spacing-54: 54px;
$spacing-55: 55px;
$color-white-blue: #add8e6;
$color-white-50: #93afab;
$color-white-100: #95a5a0;
$color-white-200: #95a5a6;
$color-white-300: #aaa;
$color-white-400: #aaa;
$color-white-500: #bbb;
$color-white-600: #ccc;
$color-white-650: #ddd;
$color-white-700: #eee;
$color-white-800: #fff;
$color-white-900: #fff;
