@import '../../../../styles/mixins';

.color {
  &__dark {
    --color-item: var(--color-black-900);
  }

  &__light {
    --color-item: var(--color-white-900);
  }

  &__success {
    --color-item: #20c997;
  }

  &__warning {
    --color-item: #ffcb2f;
  }

  &__danger {
    --color-item: #dc3545;
  }

  &__info {
    --color-item: #0baaca;
  }

  &__gray {
    --color-item: var(--color-black-200);
  }

  &__gray-500 {
    --color-item: var(--color-black-500);
  }
}

.pagination-direction {
  &--vertical {
    flex-direction: column;
  }

  &--horizontal {
    flex-direction: row;
  }
}

.pagination-dot {
  display: inline-block;
  width: var(--width);
  height: var(--height);
  background-color: var(--color-item);
  border-radius: var(--rounded-full);
  cursor: pointer;

  --width: var(--spacing-8);
  --height: var(--spacing-8);

  // @include sp {
  //   --width: var(--spacing-6);
  //   --height: var(--spacing-6);
  // }
}

.wrap-dot {
  --border-wrap: none;

  width: var(--width-wrap);
  height: var(--width-wrap);
  border-radius: var(--rounded-full);
  border: var(--active-dot) solid var(--color-item);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.active {
    --width-wrap: var(--spacing-22);
    --height-wrap: var(--spacing-22);
    --active-dot: var(--spacing-1);
  }
}

.active__pill {
  &--horizontal {
    transition:
      width 0.2s,
      height 0.2s,
      border 0.2s;

    --width: var(--spacing-30);
  }

  &--vertical {
    transition:
      width 0.2s,
      height 0.2s,
      border 0.2s;

    --height: var(--spacing-30);
  }
}

@include xs {
  .pagination-dot {
    --width: var(--spacing-6);
    --height: var(--spacing-6);
  }

  .wrap-dot {
    &.active {
      --width-wrap: var(--spacing-16);
      --height-wrap: var(--spacing-16);
    }
  }

  .active__pill {
    &--horizontal {
      --width: var(--spacing-26);
    }

    &--vertical {
      --height: var(--spacing-26);
    }
  }
}

@include sm {
  .pagination-dot {
    --width: var(--spacing-6);
    --height: var(--spacing-6);
  }

  .wrap-dot {
    &.active {
      --width-wrap: var(--spacing-16);
      --height-wrap: var(--spacing-16);
    }
  }

  .active__pill {
    &--horizontal {
      --width: var(--spacing-26);
    }

    &--vertical {
      --height: var(--spacing-26);
    }
  }
}
