@import '../../../../styles/mixins.scss';

.review__popup {
  background-color: white;
  overflow: auto;
  width: 45vw;
  max-height: calc(100vh - 32px);
}

@include xs {
  .review__popup {
    width: calc(100vw - 32px);
  }
}

@include sm {
  .review__popup {
    width: calc(100vw - 32px);
  }
}