@import '../../../../styles/mixins.scss';

.bread__crumb {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  .bread__crumb__dots {
    transform: translateY(-25%);
  }
}

@include xs {
  .bread__crumb {
    gap: 4px;
  }
}

@include sm {
  .bread__crumb {
    gap: 4px;
  }
}
