@import '../../../../styles/mixins.scss';

.full__width {
  width: 100%;
  height: 100%;

  .swiper__slide {
    width: 357px;
    height: 420px;
  }
}

@include xs {
  .full__width {
    .swiper__slide {
      width: 250px;
      height: 310px;
    }
  }
}

@include sm {
  .full__width {
    .swiper__slide {
      width: 281px;
      height: 330px;
    }
  }
}

@include md {
  .full__width {
    .swiper__slide {
      width: 312px;
      height: 360px;
    }
  }
}
